.footer
    min-height: 465px
    background-color: #001927
    .footer-content
        display: flex
        justify-content: center
        max-width: 1189px
        .footer-address
            display: flex
            height: 100%
            flex-basis: 502px
            .footer-address-contact
                font-size: 15px
                line-height: 26px
                color: #fff
            .footer-address-map

        .footer-nav
            display: flex
            flex-direction: row
            flex-grow: 1
            height: 100%
            nav
                display: flex
                justify-content: space-between
                margin-right: 214px
                margin-top: 91px
                li
                    list-style: none
                    margin-bottom: 12px
                    a
                        font-size: 15px
                        text-decoration: none
                        color: #fff
                li:first-child
                    margin-bottom: 25px
                    line-height: 1px



