.header
    display: flex
    background-image: url("../assets/header_bgc.png")
    background-position: center
    position: relative
    z-index: 0
    height: 100vh
    width: 100%
    justify-content: center
.header-dark
    background-color: #000000
    opacity: 0.5019607843137255
    position: absolute
    z-index: -1
    width: 100%
    height: 100%
.header-content
    width: 1050px
    display: flex  
    flex-direction: column

.nav-top
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: start
    margin-top: 39px
    width: 100%
    nav
        height: 90px
        line-height: 90px
        width: 582px
        ul
            display: flex
            flex-direction: row
            justify-content: space-between
            list-style: none
        
            li
                // margin-left: 81px
                // width: 100px
                a
                    font-size: 16px
                    font-family: 'Muli'
                    font-weight: 500
                    color: #fff
                    text-decoration: none
                
                    &:hover
                        cursor: pointer
.logo
    img
        width: 90px

.header-text
    margin-top: 267px
    p
        font-size: 40px
        color: #fff
        span
            color: #00B6DC

.header-btns
    margin-top: 51px
    button
        height: 51px
        margin-right: 19px
        border-radius: 30px
        border: none
        text-transform: uppercase
        font-family: Muli
        font-size: 14px
        font-weight: 400
    button:first-child
        width: 179px
    button:last-child
        width: 218px
        border: 2px solid #fff
        background-color: transparent
        color: #fff

.header-arrows
    display: flex
    margin-top: 91px
    .arrow-left
        margin-right: 13px
        &:hover
            cursor: pointer
            transform: translateX(-20px)

.slider
    position: absolute
    top: 360px
    right: 101px
    .circles
        height: 133px
        display: flex
        flex-direction: column
        justify-content: space-between
        .circle
            width: 13px
            height: 13px
            background-color: #fff
            border-radius: 30px
            &:hover
                cursor: pointer
        .active
            background-color: #FFCD19

