.header
    display: flex
    position: relative
    height: 100vh
    width: 100%
    z-index: 0
    justify-content: center
    transition: .3s

.carousel-container
    width: 500%
    height: 100vh
    position: absolute
    top: 0
    left: 0
    z-index: -1
    .carousel-slide
        display: flex
        .slide
            width: 100vw
            height: 100vh
            background-attachment: fixed
            background-position: bottom left
            background-size: cover
            background-repeat: no-repeat
        .slide-one
            background-image: url('../assets/header_bgc.png')
        .slide-two
            background-image: url('../assets/header-bgc_2.jpg')
        .slide-three
            background-image: url('../assets/header-bgc_3.jpg')

.shadow
    background-color: #000000
    opacity: 0.5019607843137255
    position: absolute
    z-index: -1
    width: 100%
    height: 100%
    animation: header-shadow 1s both

@keyframes header-shadow
    0%
        opacity: 0
        

.header-content
    width: 1190px
    height: 100vh
    display: flex  
    flex-direction: column

.header-text
    position: absolute
    bottom: 329px
    h1
        font-size: 40px
        color: #fff
        font-weight: 200
        margin-right: 100px
        animation: header-text-animation 1.3s ease both
        span
            color: $light

.header-btns
    position: absolute
    bottom: 227px
    button
        position: relative
        bottom: 0
        height: 51px
        border-radius: 30px
        border: none
        text-transform: uppercase
        font-family: Muli
        font-size: 14px
        font-weight: 300 
        overflow: hidden
        &:hover
            cursor: pointer
    button:first-child
        width: 179px
        border: 3px solid #fff
        background-color: transparent
        &:hover
            span:first-child
                top: 54px
                background-color: #fff
            span:last-child
                top: 0px
                color: #fff
        span
            position: absolute
            left: 50%
            width: 110%
            transform: translateX(-50%)
            display: block
            height: 51px
            line-height: 46px
            transition: .3s
        span:first-child
            top: 0px
            background-color: #fff
        span:last-child
            top: -54px
            color: #fff
        &:hover::before
            transform: translateX(0%)

    button:last-child
        left: 19px
        width: 218px
        border: 3px solid #fff
        background-color: transparent
        color: #fff
        overflow: hidden
        &::before
            content: "UMÓW SIĘ Z ANIOŁEM"
            position: absolute
            color: #000
            line-height: 46px
            background-color: #fff
            width: 100%
            height: 100%
            left: 0
            top: 0
            z-index: 0
            transition: transform .3s
            transform-origin: 0 0
            transform: translateY(-100%)
        &:hover::before
            transform: translateY(0%)
            
.header-arrows
    position: absolute
    bottom: 114px
    display: flex
    margin-top: 91px
    animation: arrows-animation .5s 1s ease-in-out both
    .arrow-left
        margin-right: 13px
        transition: .2s
        &:hover
            animation: arrow-left-hover-animation .5s ease both
            cursor: pointer
    .arrow-right
        transition: .2s
        &:hover
            animation: arrow-right-hover-animation .5s ease both
            cursor: pointer

.header
    .header-content
        .nav-circles
            position: absolute
            top: 360px
            right: 101px
            .circles
                height: 133px
                display: flex
                flex-direction: column
                justify-content: space-between
                .circle
                    box-sizing: border-box
                    width: 13px
                    height: 13px
                    background-color: #fff
                    border-radius: 30px
                    transition: .3s
                    &:hover
                        cursor: pointer
                        transform: scale(1.7)
                    a
                        width: 20px
                        height: 100%
                .active
                    background-color: $yellow

@keyframes header-text-animation
    0%
        opacity: 0
        transform: translateX(-20%)
@keyframes arrows-animation
    0%
        opacity: 0
        transform: translateY(-20%)

@keyframes arrow-left-hover-animation
    0%
        transform: translateX(0px)
    50%
        transform: translateX(-8px)
    100%
        transform: translateX(0px)


@keyframes arrow-right-hover-animation
    0%
        transform: translateX(0px)
    50%
        transform: translateX(8px)
    100%
        transform: translateX(0px)
