@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,600&display=swap')

@import "variables"
@import "nav"
@import "header"
@import "content"
@import "message"
@import "footer"
@import "popup"
@import "../css/active"
    
*
    margin: 0
    padding: 0

html
    font-family: 'Muli', sans-serif

body
    box-sizing: border-box
